{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">xoRETw</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <!-- <li><a href="#">More Options here </a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Signed in as" %}: {{ user.username }}  <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'auth_logout' %}">Sign out</a></li>
                    </ul>
                </li>
            </ul>    
        </div><!-- /.navbar-collapse -->    
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-toolbar" role="toolbar" aria-label="...">
				<div class="btn-group" role="group" aria-label="...">
                <fieldset>
                <legend>Designer</legend>
                    <button id="create_objective_btn" type="button" class="btn btn-default" title='Create Objective' data-toggle="" data-target="#objective_modal"><img src="{% static 'img/goal.gif' %}" align="absmiddle"></button>
                    <button id="create_obstacle_btn" type="button" class="btn btn-default" title='Create Obstacle' data-toggle="" data-target="#obstacle_modal"><img src="{% static 'img/dynamite.gif' %}" align="absmiddle"></button>
                    <button id="create_condition_btn" type="button" class="btn btn-default" title='Create Condition' data-toggle="" data-target="#condition_modal"><img src="{% static 'img/condition.gif' %}" align="absmiddle"></button>
                    <button id="create_CC_btn" type="button" class="btn btn-default" title='Create Context Constraint' data-toggle="" data-target="#constraint_modal"><img src="{% static 'img/constraint.gif' %}" align="absmiddle"></button>
                    <button id="create_scenario_btn" type="button" class="btn btn-default" title='Create Scenario' data-toggle="" data-target="#scenario_modal"><img src="{% static 'img/film.gif' %}" align="absmiddle"></button>
                    <button id="create_perm_btn" type="button" class="btn btn-default" title='Create Permission' data-toggle="" data-target="#permission_modal"><img src="{% static 'img/key.gif' %}" align="absmiddle"></button>
                    <button id="create_task_btn" type="button" class="btn btn-default" title='Create Task' data-toggle="" data-target="#task_modal"><img src="{% static 'img/task.gif' %}" align="absmiddle"></button>
                    <button id="create_profile_btn" type="button" class="btn btn-default" title='Create Work Profile' data-toggle="" data-target="#work_profile_modal"><img src="{% static 'img/profile.gif' %}" align="absmiddle"></button>
                    <button id="create_role_btn" type="button" class="btn btn-default" title='Create Role' data-toggle="" data-target="#role_modal"><img src="{% static 'img/facemask.gif' %}" align="absmiddle"></button>
<!--     
                    <button id="create_step_btn" type="button" class="btn btn-default" title='Create Step' data-toggle="" data-target="#step_modal"><img src="{% static 'img/goal.gif' %}" align="absmiddle"></button>                    
                    <button id="ssd_role_btn" type="button" class="btn btn-default" title='SSDRole' data-toggle="" data-target="#ssd_role_modal"><img src="{% static 'img/hammer.gif' %}" align="absmiddle"></button>                    
                    <button id="rolecard_btn" type="button" class="btn btn-default" title='RoleCard' data-toggle="" data-target="#rolecard_modal"><img src="{% static 'img/file.gif' %}" align="absmiddle"></button>                    
                    <button id="create_PRA_btn" type="button" class="btn btn-default" title='Create PRA' data-toggle="" data-target="#PRA_modal"><img src="{% static 'img/hourglass.gif' %}" align="absmiddle"></button>                    
-->    


                </fieldset>
				</div>
                <div class="btn-group" role="group" aria-label="...">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div class="btn-group" role="group" aria-label="...">
                <fieldset>
                <legend>Analyzer</legend>
                    <button type="button" class="btn btn-default" title='Define Trace-Links' data-toggle="modal" data-target="#define_trace_links_modal"><img src="{% static 'img/trace.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='View Trace-Model' data-toggle="modal" data-target="#view_trace_model_modal"><img src="{% static 'img/hierarchy.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='Derive Permissions' data-toggle="modal" data-target="#derive_permissions_modal"><img src="{% static 'img/deriveperm.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='Derive Context Constraints' data-toggle="modal" data-target="#derive_constraints_modal"><img src="{% static 'img/derivecc.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='Derive Roles' data-toggle="modal" data-target="#derive_roles_modal"><img src="{% static 'img/deriverole.gif' %}" align="absmiddle"></button>
                </fieldset>
				</div>
			</div>				
		</div>
	</div> <!-- row -->
    <br>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                {% if object_type == 1 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=1">Objectives</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=1">Objectives</a></li>
                {% endif %}

                {% if object_type == 2 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=2">Obstacles</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=2">Obstacles</a></li>
                {% endif %}
                
                {% if object_type == 3 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=3">Conditions</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=3">Conditions</a></li>
                {% endif %}

                {% if object_type == 4 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=4">Constraints</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=4">Constraints</a></li>
                {% endif %}

                {% if object_type == 5 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=5">Steps</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=5">Steps</a></li>
                {% endif %}

                {% if object_type == 6 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=6">Scenarios</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=6">Scenarios</a></li>
                {% endif %}

                {% if object_type == 7 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=7">Permissions</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=7">Permissions</a></li>
                {% endif %}

                {% if object_type == 8 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=8">Tasks</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=8">Tasks</a></li>
                {% endif %}

                {% if object_type == 9 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=9">Profiles</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=9">Profiles</a></li>
                {% endif %}

                {% if object_type == 10 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=10">Roles</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=10">Roles</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="row" style="padding-top:7.5px;">
        <div class="col-md-12">
            <div class="border_one" style="height:67vh; overflow: auto">

                <!-- objective section -->
                {% if object_type == 1 %}
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Objective</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                        {% for objective in objectives %}
                            <tr id='objective-{{objective.name}}'>
                            <th scope="row">{{forloop.counter}}</th>
                            <td data-toggle="context" data-target="#context-menu-objective-{{objective.name}}">{{objective.name}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="First group">
                                    <!-- 
                                    <a class="btn" onclick="edit_objective_btn('{{objective.name}}');" href="#" role="button" title='Edit objective'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <a class="btn" onclick="delete_objective('{{objective.name}}');" href="#" role="button" title='Delete objective'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                    -->
                                </div>                
                            </td>
                            </tr>
                        {% endfor %}                    
                    </tbody>
                    </table>
                    
                    <!-- objective context menu -->
                    {% for objective in objectives %}
                        <div id="context-menu-objective-{{objective.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Objective_init()">Create Objective</a></li>
                            <li><a href="#" onclick="Edit_Objective_init('{{objective.name}}')">Edit Objective</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a href="#" onclick="deleteObjective('{{objective.name}}')">Delete Objective</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}
                    
                {% endif %}

                <!-- obstacle section -->
                {% if object_type == 2 %}  
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Obstacle</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for obstacle in obstacles %}
                        <tr id='obstacle-{{obstacle.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-obstacle-{{obstacle.name}}">{{obstacle.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <!-- 
                                <a class="btn" onclick="edit_obstacle({{obstacle.id}});" href="#" role="button" title='Edit obstacle'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_obstacle('{{obstacle.name}}');" href="#" role="button" title='Delete obstacle'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                -->
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                    
                    <!-- obstacle context menu -->
                    {% for obstacle in obstacles %}
                        <div id="context-menu-obstacle-{{obstacle.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Obstacle_init()">Create Obstacle</a></li>
                            <li><a href="#" onclick="Edit_Obstacle_init('{{obstacle.name}}')">Edit Obstacle</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a href="#" onclick="deleteObstacle('{{obstacle.name}}')">Delete Obstacle</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}
                    
                {% endif %}
                
                <!-- condition section -->
                {% if object_type == 3 %}  
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Condition</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for condition in conditions %}
                        <tr id='condition-{{condition.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-condition-{{condition.name}}">{{condition.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <!-- 
                                <a class="btn" onclick="edit_condition('{{condition.name}}');" href="#" role="button" title='Edit condition'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_condition('{{condition.name}}');" href="#" role="button" title='Delete condition'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                -->
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                    
                    <!-- condition context menu -->
                    {% for condition in conditions %}
                        <div id="context-menu-condition-{{condition.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Condition_init()">Create Condition</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a href="#" onclick="deleteCondition('{{condition.name}}')">Delete Condition</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}

                {% endif %}
                
                <!-- context constraint section -->
                {% if object_type == 4 %}  
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Constraint</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for constraint in constraints %}
                        <tr id='CC-{{constraint.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-CC-{{constraint.name}}">{{constraint.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <!--
                                <a class="btn" onclick="edit_constraint({{constraint.id}});" href="#" role="button" title='Edit constraint'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_constraint({{constraint.id}});" href="#" role="button" title='Delete constraint'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                -->
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>

                    <!-- context constraint context menu -->
                    {% for constraint in constraints %}
                        <div id="context-menu-CC-{{constraint.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_CC_init()">Create Context Constraint</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_CCCondMgmt_init('{{constraint.name}}')">Manage Conditions</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a href="#" onclick="deleteContextConstraint('{{constraint.name}}')">Delete Context Constraint</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}

                {% endif %}
                
                <!-- step -->
                {% if object_type == 5 %}  
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Step</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for step in steps %}
                        <tr id='step-{{step.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-step-{{step.name}}">{{step.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <!--
                                <a class="btn" onclick="edit_constraint({{constraint.id}});" href="#" role="button" title='Edit constraint'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_constraint({{constraint.id}});" href="#" role="button" title='Delete constraint'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                -->
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>

                    <!-- context constraint context menu -->
                    {% for step in steps %}
                        <div id="context-menu-step-{{step.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Step_init()">Create Step</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_Step_init('{{step.name}}')">Edit Step</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a href="#" onclick="deleteStep('{{step.name}}')">Delete Step</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}

                {% endif %}
                

                {% if object_type == 6 %}  
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Scenario</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for scenario in scenarios %}
                        <tr id='scenario-{{scenario.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-scenario-{{scenario.name}}">{{scenario.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                    <!-- scenario context menu -->
                    {% for scenario in scenarios %}
                        <div id="context-menu-scenario-{{scenario.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Scenario_init()">Create Scenario</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_Scenario_init('{{scenario.name}}')">Edit Scenario</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a tabindex="-1" href="#" onclick="deleteScenario('{{scenario.name}}')">Delete Scenario</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}
                    
                {% endif %}
                
                {% if object_type == 8 %}
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Task</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for task in tasks %}
                        <tr id='task-{{task.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-task-{{task.name}}">{{task.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <!--
                                <a class="btn" onclick="edit_task({{task.id}});" href="#" role="button" title='Edit task'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_task({{task.id}});" href="#" role="button" title='Delete task'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                -->
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                    
                    <!-- task context menu -->
                    {% for task in tasks %}
                        <div id="context-menu-task-{{task.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Task_init()">Create Task</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a tabindex="-1" href="#" onclick="deleteTask('{{task.name}}')">Delete Task</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}
                                      
                {% endif %}

                <!-- permission -->
                {% if object_type == 7 %}  
                    <table id = 'perm_table' data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Permission</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for permission in permissions %}
                        <tr id='perm-{{permission.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-permission-{{permission.name}}">{{permission.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                    
                    <!-- permission context menu -->
                    {% for permission in permissions %}
                        <div id="context-menu-permission-{{permission.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Permission_init()">Create Permission</a></li>
                            <li><hr style="margin:5px;"></li>
                            
                            <li><a id="perm_cardinality_constraint" href="#" onclick="Edit_PermCard_init('{{permission.name}}')">Cardinality Constraints</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_SSDPerm_init('{{permission.name}}')">SSD Constraints</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_PermCCMgmt_init('{{permission.name}}')">Context Constraints</a></li>
                            
                            <li><hr style="margin:5px;"></li>
                            <li><a href="#" onclick="deletePermission('{{permission.name}}')">Delete Permission</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}
                    
                {% endif %}

                {% if object_type == 9 %} 
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Profiles</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for profile in profiles %}
                        <tr id='profile-{{profile.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-profile-{{profile.name}}">{{profile.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <!--
                                <a class="btn" onclick="edit_task({{task.id}});" href="#" role="button" title='Edit task'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_task({{task.id}});" href="#" role="button" title='Delete task'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                -->
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                    
                    <!-- profile context menu -->
                    {% for profile in profiles %}
                        <div id="context-menu-profile-{{profile.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Profile_init()">Create Profile</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_Profile_init('{{profile.name}}')">Edit Profile</a></li>
                            <li><hr style="margin:5px;"></li>
                            <li><a tabindex="-1" href="#" onclick="deleteProfile('{{profile.name}}')">Delete Profile</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}                                      

                {% endif %}

                <!-- role -->
                {% if object_type == 10 %} 
                    <table data-toggle="table" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Roles</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        <tr id='role-{{role.name}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-role-{{role.name}}">{{role.name}}</td>
                        <!-- <td data-toggle="context" data-target="#context-menu">{{role.name}}</td> -->
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <!-- role context menu -->
                    {% for role in roles %}
                        <div id="context-menu-role-{{role.name}}">
                          <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="#" onclick="Create_Role_init()">Create Role</a></li>
                            <li><a id="perm_cardinality_constraint" href="#" onclick="Edit_PRA_init('{{role.name}}')" disabled>Permission/Role Assignment</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_RRA_init('{{role.name}}')" disabled>Role/Role Assignment</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_SSDRole_init('{{role.name}}')" disabled>SSD Role Constraints</a></li>
                            <li><a tabindex="-1" href="#" onclick="Edit_RoleCard_init('{{role.name}}')">Role Cardinalities</a></li>
                            <li><hr style="margin:5px;"></li>
                            <!-- <li><a tabindex="-1" href="#" onclick="">Manage Traces</a></li>
                            <li><hr style="margin:5px;"></li>
                            -->
                            <li><a tabindex="-1" href="#" onclick="deleteRole('{{role.name}}')">Delete Role</a></li>
                          </ul>
                        </div>                    
                    {% endfor %}
                {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block objective_content %}
    {% include 'objective.html' %}
{% endblock objective_content %}

{% block obstacle_content %}
    {% include 'obstacle.html' %}
{% endblock obstacle_content %}

{% block permission_content %}
    {% include 'perm.html' %}
{% endblock permission_content %}

{% block condition_content %}
    {% include 'condition.html' %}
{% endblock condition_content %}

{% block context_constraint_content %}
    {% include 'CC.html' %}
{% endblock context_constraint_content %}

{% block scenario_content %}
    {% include 'scenario.html' %}
{% endblock scenario_content %}

{% block step_content %}
    {% include 'step.html' %}
{% endblock step_content %}

{% block task_content %}
    {% include 'task.html' %}
{% endblock task_content %}

{% block work_profile_content %}
    {% include 'profile.html' %}
{% endblock work_profile_content %}

{% block role_content %}
    {% include 'role.html' %}
{% endblock role_content %}

{% block scripts %}
<script>
// onready
$(function() {
     
});

var MODE_CREATE = 1;
var MODE_UPDATE = 2;


var OBJECT_TYPE_OBJECTIVE = 1
var OBJECT_TYPE_OBSTACLE = 2
var OBJECT_TYPE_CONDITION = 3
var OBJECT_TYPE_CONTEXT_CONSTRAINT = 4
var OBJECT_TYPE_STEP = 5
var OBJECT_TYPE_SCENARIO = 6
var OBJECT_TYPE_PERMISSION = 7
var OBJECT_TYPE_TASK = 8
var OBJECT_TYPE_WORK_PROFILE = 9
var OBJECT_TYPE_ROLE = 10
var PERM_CARDINALITY_CONSTRAINTS = 100
var ROLE_CARDINALITY_CONSTRAINTS = 101
var PERM_CONTEXT_CONSTRAINTS = 102


// common to all
var url_dashboard = "{% url 'dashboard' %}"


//
// new api
//
// exist

var url_exist_role = "{% url 'exist_role' %}"


var url_add_derived_abstract_context_condition_to_objective = "{% url 'add_derived_abstract_context_condition_to_objective' %}"
var url_add_derived_abstract_context_condition_to_obstacle = "{% url 'add_derived_abstract_context_condition_to_obstacle' %}"
var url_add_tasks_to_work_profile = "{% url 'add_tasks_to_work_profile' %}"
var url_add_scenarios_to_task = "{% url 'add_scenarios_to_task' %}"
var url_link_context_constraints_to_perm = "{% url 'link_context_constraints_to_perm' %}"



var url_clear_derived_condition_list_of_objective = "{% url 'clear_derived_condition_list_of_objective' %}"
var url_clear_derived_condition_list_of_obstacle = "{% url 'clear_derived_condition_list_of_obstacle' %}"
var url_clear_task_list_of_work_profile = "{% url 'clear_task_list_of_work_profile' %}"
var url_clear_scenario_list_of_task = "{% url 'clear_scenario_list_of_task' %}"

var url_unlink_context_constraints_from_perm = "{% url 'unlink_context_constraints_from_perm' %}"


var url_unset_ssd_perm_constraint = "{% url 'unset_ssd_perm_constraint' %}"
var url_set_ssd_perm_constraint = "{% url 'set_ssd_perm_constraint' %}"

var url_unset_ssd_role_constraint = "{% url 'unset_ssd_role_constraint' %}"
var url_set_ssd_role_constraint = "{% url 'set_ssd_role_constraint' %}"

// edit init
var url_edit_objective_init = "{% url 'edit_objective_init' %}"
var url_edit_obstacle_init = "{% url 'edit_obstacle_init' %}"
var url_edit_condition_init = "{% url 'edit_condition_init' %}"
var url_edit_step_init = "{% url 'edit_step_init' %}"
var url_edit_profile_init = "{% url 'edit_profile_init' %}"
var url_edit_task_init = "{% url 'edit_task_init' %}"
var url_edit_permcard_init = "{% url 'edit_permcard_init' %}"
var url_edit_rolecard_init = "{% url 'edit_rolecard_init' %}"
var url_edit_perm_cc_mgmt_init = "{% url 'edit_perm_cc_mgmt_init' %}"
var url_edit_scenario_init = "{% url 'edit_scenario_init' %}"


// edit save
var url_edit_objective_save = "{% url 'edit_objective_save' %}"
var url_edit_obstacle_save = "{% url 'edit_obstacle_save' %}"
var url_edit_step_save = "{% url 'edit_step_save' %}"
var url_edit_profile_save = "{% url 'edit_profile_save' %}"
var url_edit_task_save = "{% url 'edit_task_save' %}"
var url_edit_permcard_save = "{% url 'edit_permcard_save' %}"
var url_edit_rolecard_save = "{% url 'edit_rolecard_save' %}"
var url_edit_scenario_save = "{% url 'edit_scenario_save' %}"


// create create
var url_create_objective_create = "{% url 'create_objective_create' %}"
var url_create_obstacle_create = "{% url 'create_obstacle_create' %}"
var url_create_condition_create = "{% url 'create_condition_create' %}"
var url_create_CC_create = "{% url 'create_CC_create' %}"
var url_create_task_create = "{% url 'create_task_create' %}"
var url_create_step_create = "{% url 'create_step_create' %}"
var url_create_perm_create = "{% url 'create_perm_create' %}"
var url_create_profile_create = "{% url 'create_profile_create' %}"
var url_create_scenario_create = "{% url 'create_scenario_create' %}"
var url_create_role_create = "{% url 'create_role_create' %}"


// delete
var url_delete_objective = "{% url 'delete_objective' %}"
var url_delete_obstacle = "{% url 'delete_obstacle' %}"
var url_delete_condition = "{% url 'delete_condition' %}"
var url_delete_context_constraint = "{% url 'delete_context_constraint' %}"
var url_delete_task = "{% url 'delete_task' %}"
var url_delete_step = "{% url 'delete_step' %}"
var url_delete_permission = "{% url 'delete_permission' %}"
var url_delete_profile = "{% url 'delete_profile' %}"
var url_delete_scenario = "{% url 'delete_scenario' %}"
var url_delete_role = "{% url 'delete_role' %}"

var url_link_condition_to_context_constraint = "{% url 'link_condition_to_context_constraint' %}"
var url_unlink_condition_from_context_constraint = "{% url 'unlink_condition_from_context_constraint' %}"

var url_get_condition_list = "{% url 'get_condition_list' %}"
var url_get_scenario_list = "{% url 'get_scenario_list' %}"
var url_get_step_list = "{% url 'get_step_list' %}"
var url_get_task_list = "{% url 'get_task_list' %}"
var url_get_role_list = "{% url 'get_role_list' %}"
var url_get_context_constraint_list = "{% url 'get_context_constraint_list' %}"
var url_get_permission_list = "{% url 'get_permission_list' %}"

var url_get_all_conditions = "{% url 'get_all_conditions' %}"
var url_get_context_constraints = "{% url 'get_context_constraints' %}"
var url_get_ssd_perm_constraints = "{% url 'get_ssd_perm_constraints' %}"

var url_perm_role_assign = "{% url 'perm_role_assign' %}"
var url_perm_role_revoke = "{% url 'perm_role_revoke' %}"

// ssd role constraints

var url_get_direct_ssd_role_constraints = "{% url 'get_direct_ssd_role_constraints' %}"
var url_get_transitive_ssd_role_constraints = "{% url 'get_transitive_ssd_role_constraints' %}"
var url_get_inherited_ssd_role_constraints = "{% url 'get_inherited_ssd_role_constraints' %}"




var mode = 0; // edit mode, common var to all

</script>
{% endblock scripts %}
