{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">xoRETw</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Options</a></li> -->
      </ul>
		<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Signed in" %}: {{ user.username }}  <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'auth_logout' %}">Sign out</a></li>
          </ul>
        </li>
      </ul>    
    </div><!-- /.navbar-collapse -->    
  </div><!-- /.container-fluid -->
</nav>

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-toolbar" role="toolbar" aria-label="...">
				<div class="btn-group" role="group" aria-label="...">
                    <button id="create_objective_btn" type="button" class="btn btn-default" title='Create Objective' data-toggle="modal" data-target="#objective_modal"><img src="{% static 'img/goal.gif' %}" align="absmiddle"></button>
                    <button id="create_obstacle_btn" type="button" class="btn btn-default" title='Create Obstacle' data-toggle="modal" data-target="#obstacle_modal"><img src="{% static 'img/dynamite.gif' %}" align="absmiddle"></button>
                    <button id="create_condition_btn" type="button" class="btn btn-default" title='Create Condition' data-toggle="modal" data-target="#condition_modal"><img src="{% static 'img/condition.gif' %}" align="absmiddle"></button>
                    <button id="create_constraint_btn" type="button" class="btn btn-default" title='Create Context Constraint' data-toggle="modal" data-target="#constraint_modal"><img src="{% static 'img/constraint.gif' %}" align="absmiddle"></button>
                    <button id="create_scenario_btn" type="button" class="btn btn-default" title='Create Scenario' data-toggle="modal" data-target="#scenario_modal"><img src="{% static 'img/film.gif' %}" align="absmiddle"></button>
                    <button id="create_permission_btn" type="button" class="btn btn-default" title='Create Permission' data-toggle="modal" data-target="#permission_modal"><img src="{% static 'img/key.gif' %}" align="absmiddle"></button>
                    <button id="create_task_btn" type="button" class="btn btn-default" title='Create Task' data-toggle="modal" data-target="#task_modal"><img src="{% static 'img/task.gif' %}" align="absmiddle"></button>
                    <button id="create_work_profile_btn" type="button" class="btn btn-default" title='Create Work Profile' data-toggle="modal" data-target="#work_profile_modal"><img src="{% static 'img/profile.gif' %}" align="absmiddle"></button>
                    <button id="create_role_btn" type="button" class="btn btn-default" title='Create Role' data-toggle="modal" data-target="#role_modal"><img src="{% static 'img/facemask.gif' %}" align="absmiddle"></button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" title='Define Trace-Links' data-toggle="modal" data-target="#define_trace_links_modal"><img src="{% static 'img/trace.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='View Trace-Model' data-toggle="modal" data-target="#view_trace_model_modal"><img src="{% static 'img/hierarchy.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='Derive Permissions' data-toggle="modal" data-target="#derive_permissions_modal"><img src="{% static 'img/deriveperm.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='Derive Context Constraints' data-toggle="modal" data-target="#derive_constraints_modal"><img src="{% static 'img/derivecc.gif' %}" align="absmiddle"></button>
                    <button type="button" class="btn btn-default" title='Derive Roles' data-toggle="modal" data-target="#derive_roles_modal"><img src="{% static 'img/deriverole.gif' %}" align="absmiddle"></button>
				</div>
			</div>				
		</div>
	</div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                
                {% if object_type == 1 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=1">Objectives</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=1">Objectives</a></li>
                {% endif %}

                {% if object_type == 2 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=2">Obstacles</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=2">Obstacles</a></li>
                {% endif %}
                
                {% if object_type == 3 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=3">Conditions</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=3">Conditions</a></li>
                {% endif %}

                {% if object_type == 4 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=4">Constraints</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=4">Constraints</a></li>
                {% endif %}

                {% if object_type == 5 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=5">Steps</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=5">Steps</a></li>
                {% endif %}

                {% if object_type == 6 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=6">Scenarios</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=6">Scenarios</a></li>
                {% endif %}

                {% if object_type == 7 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=7">Permissions</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=7">Permissions</a></li>
                {% endif %}

                {% if object_type == 8 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=8">Tasks</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=8">Tasks</a></li>
                {% endif %}

                {% if object_type == 9 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=9">Profiles</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=9">Profiles</a></li>
                {% endif %}

                {% if object_type == 10 %}  
                    <li role="presentation" class="active"><a href="{% url 'dashboard' %}?object_type=10">Roles</a></li>
                {% else %}
                    <li role="presentation"><a href="{% url 'dashboard' %}?object_type=10">Roles</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="row" style="padding-top:7.5px;">
        <div class="col-md-12">
            <div class="border_one" style="height:67vh; overflow: auto">

                <!-- OBJECT_TYPE_OBJECTIVE -->
                {% if object_type == 1 %}
                    <table data-toggle="table" id="testtable" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Objective</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for objective in objectives %}
                        <tr id='objective-{{objective.id}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu">{{objective.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <a class="btn" onclick="edit_objective_btn({{objective.id}});" href="#" role="button" title='Edit objective'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_objective({{objective.id}});" href="#" role="button" title='Delete objective'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                {% endif %}

                <!-- OBJECT_TYPE_OBSTACLE -->
                {% if object_type == 2 %}  
                    <table data-toggle="table" id="testtable" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Obstacle</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for obstacle in obstacles %}
                        <tr id='obstacle-{{obstacle.id}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu">{{obstacle.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <a class="btn" onclick="edit_obstacle({{obstacle.id}});" href="#" role="button" title='Edit obstacle'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_obstacle({{obstacle.id}});" href="#" role="button" title='Delete obstacle'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                {% endif %}
                
                <!-- OBJECT_TYPE_CONDITION -->
                {% if object_type == 3 %}  
                    <table data-toggle="table" id="testtable" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Condition</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for condition in conditions %}
                        <tr id='condition-{{condition.id}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu">{{condition.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <a class="btn" onclick="edit_condition({{condition.id}});" href="#" role="button" title='Edit condition'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_condition({{condition.id}});" href="#" role="button" title='Delete condition'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                {% endif %}
                
                <!-- OBJECT_TYPE_CONTEXT_CONSTRAINT -->
                {% if object_type == 4 %}  
                    <table data-toggle="table" id="testtable" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Constraint</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for constraint in constraints %}
                        <tr id='constraint-{{constraint.id}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu">{{constraint.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <a class="btn" onclick="edit_constraint({{constraint.id}});" href="#" role="button" title='Edit constraint'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_constraint({{constraint.id}});" href="#" role="button" title='Delete constraint'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                {% endif %}

                <!-- OBJECT_TYPE_CONTEXT_PERMISSION -->
                {% if object_type == 7 %}  
                    <table data-toggle="table" id="testtable" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Permission</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for permission in permissions %}
                        <tr id='permission-{{permission.id}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu-permission">{{permission.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <a class="btn" onclick="edit_permission({{permission.id}});" href="#" role="button" title='Edit constraint'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_permission({{permission.id}});" href="#" role="button" title='Delete constraint'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                {% endif %}

                {% if object_type == 6 %}  
                    <br>
                    <p>Placeholder for Scenarios</p>
                {% endif %}

                {% if object_type == 77 %}  
                    <br>
                    <p>Placeholder for Permissions</p>                
                {% endif %}

                {% if object_type == 8 %}
                    <table data-toggle="table" id="testtable" class="table table-condensed table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-3">Task</th>
                    <th class="col-md-8">&nbsp;</th> <!-- toolbar: edit/remove -->
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for task in tasks %}
                        <tr id='task-{{task.id}}'>
                        <th scope="row">{{forloop.counter}}</th>
                        <td data-toggle="context" data-target="#context-menu">{{task.name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="First group">
                                <a class="btn" onclick="edit_task({{task.id}});" href="#" role="button" title='Edit task'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a class="btn" onclick="delete_task({{task.id}});" href="#" role="button" title='Delete task'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            </div>                
                        </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                    </table>
                {% endif %}

                {% if object_type == 9 %} 
                    <br>
                    <p>Placeholder for Profiles</p>                
                {% endif %}

                {% if object_type == 10 %} 
                    <br>
                    <p>Placeholder for Roles</p>
                {% endif %}
        </div>
    </div>
</div>


<!-------------------------------------------------->
<!--                 Modals                       -->
<!-------------------------------------------------->

<!-- 1. Create Objective Modal -->
<div class="modal fade" id="objective_modal" tabindex="-1" role="dialog" aria-labelledby="objective_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="objective_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="objective_name">Objective Name</label>
                    <input type="text" class="form-control" id="objective_name" placeholder="Enter objective name" required>
                    <input type="hidden" id="objective_id" value="">
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="objective_type">Objective Type</label>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="objective_type" data-toggle="dropdown" aria-expanded="true">
                            <div id="objective_type_label" style="display: inline-block;">Select</div>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_objective_type">
                            <li role="presentation"><a id="action-1" role="menuitem" tabindex="-1" href="#">Achieve</a></li>
                            <li role="presentation"><a id="action-2" role="menuitem" tabindex="-1" href="#">Ensure</a></li>
                            <li role="presentation"><a id="action-3" role="menuitem" tabindex="-1" href="#">Improve</a></li>
                            <li role="presentation"><a id="action-4" role="menuitem" tabindex="-1" href="#">Increase</a></li>
                            <li role="presentation"><a id="action-5" role="menuitem" tabindex="-1" href="#">Keep</a></li>
                            <li role="presentation"><a id="action-6" role="menuitem" tabindex="-1" href="#">Maintain</a></li>
                            <li role="presentation"><a id="action-7" role="menuitem" tabindex="-1" href="#">Make</a></li>
                            <li role="presentation"><a id="action-8" role="menuitem" tabindex="-1" href="#">Notify</a></li>
                            <li role="presentation"><a id="action-9" role="menuitem" tabindex="-1" href="#">Provide</a></li>
                            <li role="presentation"><a id="action-10" role="menuitem" tabindex="-1" href="#">Reduce</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9"></div>
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="abstract_context_condition">Abstract Context Condition (Text)</label>
                    <input id="condition_input" type="text" class="form-control" id="abstract_context_condition" placeholder="Enter text">
                    <input id="add_condition" class="btn btn-default" type="button" value="Add Condition to List">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="condition_list">List of Abstract Context Conditions</label>
                    <select id="condition_list" multiple class="form-control">
                    </select>     
                    <input id="remove_condition" class="btn btn-default" type="button" disabled="false" value="Remove Condition from List">     
                  </div>
                </div>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="save_objective_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- 2. Create Obstacle Modal -->
<div class="modal fade" id="obstacle_modal" tabindex="-1" role="dialog" aria-labelledby="obstacle_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="obstacle_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="obstacle_name">Obstacle Name</label>
                    <input type="text" class="form-control" id="obstacle_name" placeholder="Enter obstacle name" required>
                    <input type="hidden" id="obstacle_id" value="">
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="obstacle_type">Obstacle Type</label>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="obstacle_type" data-toggle="dropdown" aria-expanded="true" disabled="true">
                            <div id="obstacle_type_label" style="display: inline-block;">Avoid</div>
                            <!-- <span class="caret"></span> -->
                          </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9"></div>
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="abstract_context_condition2">Abstract Context Condition (Text)</label>
                    <input id="condition_input2" type="text" class="form-control" id="abstract_context_condition2" placeholder="Enter text">
                    <input id="add_condition2" class="btn btn-default" type="button" value="Add Condition to List">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="condition_list2">List of Abstract Context Conditions</label>
                    <select id="condition_list2" multiple class="form-control">
                    </select>     
                    <input id="remove_condition2" class="btn btn-default" type="button" disabled="false" value="Remove Condition from List">     
                  </div>
                </div>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="save_obstacle_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- 3. Create Condition Modal -->
<div class="modal fade" id="condition_modal" tabindex="-1" role="dialog" aria-labelledby="condition_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="condition_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="condition_name">Condition Name</label>
                    <input type="text" class="form-control" id="condition_name" placeholder="Enter condition name" required>
                    <input type="hidden" id="condition_id" value="">
                  </div>              
                </div>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_condition_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- 4. Context Constraint Modal -->
<div class="modal fade" id="constraint_modal" tabindex="-1" role="dialog" aria-labelledby="constraint_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="constraint_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="constraint_name">Constraint Name</label>
                    <input type="text" class="form-control" id="constraint_name" placeholder="Enter constraint name" required>
                    <input type="hidden" id="constraint_id" value="">
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="constraint_available_conditions">Available Conditions</label>
                    <select id="constraint_available_conditions" multiple class="form-control">
                    </select>     
                    <input id="add_constraint_condition" class="btn btn-default" type="button" value="Link Condition">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="constraint_conditions">Linked Conditions</label>
                    <select id="constraint_conditions" multiple class="form-control">
                    </select>     
                    <input id="remove_constraint_condition" class="btn btn-default" type="button" disabled="false" value="Unlink Condition">     
                  </div>
                </div>  
            </div>
        </form>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_constraint_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- 5. Create Scenario Modal -->
<div class="modal modal-wide fade" id="scenario_modal" tabindex="-1" role="dialog" aria-labelledby="scenario_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="scenario_modal_title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-3">A</div>
        <div class="col-md-9">
            <div id="digraph" style='background-color:yellow; height: 500px; width:100%;left:0px;'></div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 6. Create Permission Modal -->
<div class="modal fade" id="permission_modal" tabindex="-1" role="dialog" aria-labelledby="permission_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="permission_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <input type="hidden" id="permission_id" value="">
            <!--
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="objective_name">Permission Name</label>
                    <input type="text" class="form-control" id="objective_name" placeholder="Enter permission name" required>
                    <input type="hidden" id="permission_id" value="">
                  </div>              
                </div>  
            </div>
            -->
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="permission_operation_name">Operation Name</label>
                    <input type="text" class="form-control" id="permission_operation_name" placeholder="Enter operation name" required>
                    <!-- <input type="hidden" id="objective_id" value=""> -->
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="permission_object_name">Object Name</label>
                    <input type="text" class="form-control" id="permission_object_name" placeholder="Enter object name" required>
                    <!-- <input type="hidden" id="objective_id" value=""> -->
                  </div>              
                </div>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_permission_btn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 7. Create Task Modal -->
<div class="modal fade" id="task_modal" tabindex="-1" role="dialog" aria-labelledby="task_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="task_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="task_name">Task Name</label>
                    <input type="text" class="form-control" id="task_name" placeholder="Enter task name" required>
                    <input type="hidden" id="task_id" value="">
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="task_available_scenarios">Available Scenarios</label>
                    <select id="task_available_scenarios" multiple class="form-control">
                    </select>     
                    <input id="add_task_scenario" class="btn btn-default" type="button" value="Add Scenario to Task">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="task_scenarios">Attached Scenarios</label>
                    <select id="task_scenarios" multiple class="form-control">
                    </select>     
                    <input id="remove_task_scenario" class="btn btn-default" type="button" disabled="false" value="Remove Scenario from Task">     
                  </div>
                </div>  
            </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_task_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- 8. Create Work Profile Modal -->
<div class="modal fade" id="work_profile_modal" tabindex="-1" role="dialog" aria-labelledby="work_profile_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="work_profile_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="work_profile_name">Work Profile Name</label>
                    <input type="text" class="form-control" id="work_profile_name" placeholder="Enter work profile name" required>
                    <input type="hidden" id="work_profile_id" value="">
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="work_profile_available_tasks">Currently Available Tasks</label>
                    <select id="work_profile_available_tasks" multiple class="form-control">
                    </select>     
                    <input id="work_profile_add_task" class="btn btn-default" type="button" value="Add Task to Profile">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="work_profile_attached_tasks">Attached Tasks</label>
                    <select id="work_profile_attached_tasks" multiple class="form-control">
                    </select>     
                    <input id="work_profile_remove_task" class="btn btn-default" type="button" disabled="false" value="Remove Task from Profile">     
                  </div>
                </div>  
            </div>
        </form>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_work_profile_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- 9. Create Role Modal -->
<div class="modal fade" id="create_role_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Role</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 10. Define Trace-Links Modal -->
<div class="modal fade" id="define_trace_links_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Define Trace-Links</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 11. View Trace-Model Modal -->
<div class="modal fade" id="view_trace_model_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Trace-Model</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 12. Derive Permissions Modal -->
<div class="modal fade" id="derive_permissions_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Derive Permissions</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 13. Derive Context Constraints Modal -->
<div class="modal fade" id="derive_constraints_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Derive Context Constraints</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- 14. Derive Roles Modal -->
<div class="modal fade" id="derive_roles_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Derive Roles</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Permissions modals -->
<!-- Permission - Cardinality Constraints modal-->
<div class="modal fade" id="perm_cardinality_constraint_modal" tabindex="-1" role="dialog" aria-labelledby="perm_cardinality_constraint_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="perm_cardinality_constraint_title">Cardinality Constraints</h4>
      </div>
      <div class="modal-body">
            Add layout and widgets here ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Permission - SSD Constraints modal -->
<div class="modal fade" id="perm_ssd_constraint_modal" tabindex="-1" role="dialog" aria-labelledby="perm_ssd_constraint_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="perm_ssd_constraint_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="perm_ssd_available_permissions">Available Permissions</label>
                    <select id="perm_ssd_available_permissions" multiple class="form-control">
                    </select>     
                    <input id="add_ssd_constraint" class="btn btn-default" type="button" value="Add SSD Constraint">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="perm_ssd_direct_mutex">Direct Mutual Exclusions</label>
                    <select id="perm_ssd_direct_mutex" multiple class="form-control">
                    </select>     
                    <input id="remove_ssd_constraint" class="btn btn-default" type="button" disabled="false" value="Remove SSD Constraint">     
                  </div>
                </div>  
            </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_task_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Permission - Context Constraints modal -->
<div class="modal fade" id="permission_CC_modal" tabindex="-1" role="dialog" aria-labelledby="permission_CC_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="permission_CC_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="permission_CC_available_CC">Available Context Constraints</label>
                    <select id="permission_CC_available_CC" multiple class="form-control">
                    </select>     
                    <input id="link_permission_CC" class="btn btn-default" type="button" value="Link Context Constraint">
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="permission_CC_linked_CC">Linked Context Constraints</label>
                    <select id="permission_CC_linked_CC" multiple class="form-control">
                    </select>     
                    <input id="unlink_permission_CC" class="btn btn-default" type="button" disabled="false" value="Unlink Context Constraint">     
                  </div>
                </div>  
            </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_task_btn" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!------- context menu ------>

<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Edit</a></li>
    <li><a tabindex="-1" href="#">Delete</a></li>
  </ul>
</div>

<div id="context-menu-permission">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Create Permission</a></li>
    <li><hr style="margin:5px;"></li>
    <li><a id="perm_cardinality_constraint" href="#" onclick="permission_cardinality_constraints()">Cardinality Constraints</a></li>
    <li><a tabindex="-1" href="#" onclick="permission_ssd_constraints()">SSD Constraints</a></li>
    <li><a tabindex="-1" href="#" onclick="permission_CC()">Context Constraints</a></li>
    <li><hr style="margin:5px;"></li>
    <li><a tabindex="-1" href="#">Delete Permission</a></li>
  </ul>
</div>

{% endblock content %}

{% block scripts %}
<script>
// onready
$(function() {

});
var MODE_CREATE = 1;
var MODE_UPDATE = 2;

// obstacle
$( '#create_obstacle_btn' ).click(function() {

    // set to new mode
    mode = 1;
    
    // reset all fields
    $('#obstacle_name').val('');
    $('#condition_input2').val('');
    $('#condition_list2').find('option').remove();
});

var OBJECT_TYPE_OBJECTIVE = 1
var OBJECT_TYPE_OBSTACLE = 2
var OBJECT_TYPE_CONDITION = 3
var OBJECT_TYPE_CONTEXT_CONSTRAINT = 4
var OBJECT_TYPE_PERMISSION = 7
var OBJECT_TYPE_TASK = 8



var OBJECT_TYPE_ROLE = 6
var OBJECT_TYPE_STEP = '6'
var OBJECT_TYPE_SCENARIO = '7'


// common to all
var url_dashboard = "{% url 'dashboard' %}"

var url_delete_objective = "{% url 'delete_objective' %}"
var url_edit_objective = "{% url 'edit_objective' %}"

var url_delete_obstacle = "{% url 'delete_obstacle' %}"
var url_edit_obstacle = "{% url 'edit_obstacle' %}"

var url_delete_condition = "{% url 'delete_condition' %}"
var url_edit_condition = "{% url 'edit_condition' %}"

var url_delete_constraint = "{% url 'delete_constraint' %}"
var url_edit_constraint = "{% url 'edit_constraint' %}"

var url_delete_permission = "{% url 'delete_permission' %}"

var url_get_conditions = "{% url 'get_conditions' %}"

var mode = 0; // edit mode, common var to all

function flash(selector) {
    $(selector).fadeOut(250).fadeIn(250);
}

jQuery.fn.extend({
  flash: function() {
    return this.each(function() {
    $(this).fadeOut();
    $(this).fadeIn();
    });
  }
});

</script>
{% endblock scripts %}
