<div class="modal fade" id="role_modal" tabindex="-1" role="dialog" aria-labelledby="role_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-width-450">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="role_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="role_name">Role Name</label>
                    <input type="text" class="form-control" id="role_name" placeholder="Enter role name" required>
                  </div>              
                </div>  
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="role_list">Currently Available Roles</label>
                    <select id="role_list" multiple class="form-control">
                    </select>     
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <input id="add_junior" class="btn btn-default" type="button" value="Add Junior-Role">                              
                             </div>
                            <div class="btn-group">
                              <input id="add_senior" class="btn btn-default" type="button" value="Add Senior-Role">
                            </div>                            
                        </div>
                    </div>
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="junior_roles">Junior Roles</label>
                    <select id="junior_roles" multiple class="form-control">
                    </select>     
                    <input id="remove_junior" class="btn btn-default" type="button" disabled="true" value="Remove Junior-Role">     
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="senior_roles">Senior Roles</label>
                    <select id="senior_roles" multiple class="form-control">
                    </select>     
                    <input id="remove_senior" class="btn btn-default" type="button" disabled="false" value="Remove Senior-Role">     
                  </div>
                </div>  
            </div>        
        </form>
        </div>
      <div class="modal-footer">
        <button id="cancel_role" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="create_role" type="button" class="btn btn-primary">Create Role</button>
      </div>
    </div>
  </div>
</div>

<!-- rolecard modal -->
<div class="modal fade" id="rolecard_modal" tabindex="-1" role="dialog" aria-labelledby="rolecard_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="rolecard_modal_title">Cardinality Constraints</h4>
      </div>
      <div class="modal-body">
        <form>
            <input type="hidden" id="rolecard_role" value="">
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="step_actor">Minimum Owner Cardinality</label>
                    <div class="input-group spinner">
                      <input id="rolecard_mincardinality" type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>      
                  </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="step_actor">Maximum Owner Cardinality</label>
                    <div class="input-group spinner2">
                      <input id="rolecard_maxcardinality" type="text" class="form-control" value="0">
                        <div class="input-group-btn-vertical">
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                          <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>      
                  </div>
                </div>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel_rolecard" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="save_rolecard" type="button" class="btn btn-primary" style="display:none;">Save</button>          
      </div>
    </div>
  </div>
</div>

<!-- ssd role constraints modal -->
<div class="modal modal-wide fade" id="ssd_role_modal" tabindex="-1" role="dialog" aria-labelledby="ssd_role_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ssd_role_modal_title">SSD Role Constraint Management</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <label for="SSD_for_role">Role Name</label>
                    <input type="text" class="form-control" id="SSD_for_role">                                
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ssd_role_role_list">Available Roles</label>
                                <select id="ssd_role_role_list" multiple class="form-control" style="height:250px;">
                                </select>
                                <input id="role_set_constraint" class="btn btn-default" type="button" value="Set SSD Constraint">
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div> <!-- col-md-3 -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="dmer">Directly Mutual Exclusive Roles</label>
                                <select id="dmer" multiple class="form-control" style="height:250px;">
                                </select>
                                <input id="role_unset_constraint" class="btn btn-default" type="button" value="Unset SSD Constraint">
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tssdrc">Transitive SSD Role Constraints</label>
                                <select id="tssdrc" multiple class="form-control" style="height:250px;">
                                </select>
                                
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="issdc">Inherited SSD Role Constraints</label>
                                <select id="issdc" multiple class="form-control" style="height:250px;">
                                </select>
                                
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="close_ssd_perm" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- PRA modal -->
<div class="modal modal-wide fade" id="PRA_modal" tabindex="-1" role="dialog" aria-labelledby="PRA_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="PRA_modal_title">Permission-to-Role Assignment</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <label for="PRA_for_role">Role Name</label>
                    <input type="text" class="form-control" id="PRA_for_role">                                
                </div>
            </div>    
            <br>        
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="PRA_perm_list">Available Permissions</label>
                                <select id="PRA_perm_list" multiple class="form-control" style="height:250px;">
                                </select>
                                <input id="assign_permission" class="btn btn-default" type="button" value="Assign Permission">
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div> <!-- col-md-4 -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="dp">Directly Assigned Permissions</label>
                                <select id="dp" multiple class="form-control" style="height:250px;">
                                </select>
                                <input id="revoke_permission" class="btn btn-default" type="button" value="Revoke Permission">
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tp">Inherited Permissions</label>
                                <select id="tp" multiple class="form-control" style="height:250px;">
                                </select>
                                
                            </div>
                        </div> <!-- col-md-12 -->
                    </div> <!-- row -->
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- RRA modal -->
<div class="modal modal-wide fade" id="RRA_modal" tabindex="-1" role="dialog" aria-labelledby="RRA_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="RRA_modal_title"></h4>
      </div>
      <div class="modal-body">
        <form>
            <input type="hidden" id="RRA_role" value="">
            <div class="row">
                <div class="col-md-12">                    
                    <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="RRA_role_list_JR">Available Roles</label>
                            <select id="RRA_role_list_JR" multiple class="form-control">
                            </select>     
                            <input id="assign_junior" class="btn btn-default" type="button" value="Assign Junior">
                          </div>                            
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="djr">Direct Junior-Roles</label>
                            <select id="djr" multiple class="form-control">
                            </select>     
                            <input id="revoke_junior" class="btn btn-default" type="button" value="Revoke Junior">
                          </div>                            
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="tjr">Inherited Junior-Roles</label>
                            <select id="tjr" multiple class="form-control">
                            </select>     
                          </div>                            
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="RRA_role_list_SR">Available Roles</label>
                            <select id="RRA_role_list_SR" multiple class="form-control" style="550px">
                            </select>     
                            <input id="assign_senior" class="btn btn-default" type="button" value="Assign Senior">
                          </div>                            
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="dsr">Direct Senior-Roles</label>
                            <select id="dsr" multiple class="form-control">
                            </select>     
                            <input id="revoke_senior" class="btn btn-default" type="button" value="Revoke Senior">
                          </div>                            
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="tsr">Inherited Senior-Roles</label>
                            <select id="tsr" multiple class="form-control">
                            </select>     
                          </div>                            
                        </div>
                    </div>  
                </div>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
